# Server Port
PORT=5000

# Admin Dashboard Passcode (Security check)
ADMIN_PASSCODE=admin123

# Firebase configuration
# Get these values from Firebase Console -> Project Settings -> Service Accounts -> Generate new private key
# Copy-paste details here.
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
